<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <?=Engine_HTMLHead::Get()->makeHtmlHead(['title', 'css']); ?>
</head>
<body>
    <?=$this->content; ?>
    <?=Engine_HTMLHead::Get()->makeHtmlHead('js'); ?>
</body>
</html>



