.header {
    box-shadow: 0 0 10px #333;
    padding: 20px 0;
    margin-bottom: 30px;
}

.header img {
    display: block;
    width: 130px;
}

label {
    font-size: 22px;
    font-weight: 100;
}
/** --- --- --- Карточки --- --- ---  **/
.once-card {
    border-radius: 3px;
    background: #f6f6f6;
    border: 1px solid #eeeeee;
    margin-bottom: 10px;
}

.once-card .left {
    width: 200px;
    height: 200px;
    vertical-align: middle;
    text-align: center;
    text-align: center;
}

.once-card .left img {
    display: block;
    max-width: 200px;
    max-height: 200px;

    border-radius: 2px;
    box-shadow: 0 0 5px #333333;
    margin: 10px auto 10px auto;
}


.once-card .left .text-instead-img {
    line-height: 200px;
    font-size: 100px;
    font-weight: 100;
}

/* --- */

.once-card .right {
    vertical-align: top;
    padding: 10px;
    color: #777777;

}

.once-card .right .title {
    display: block;
    margin-bottom: -15px;
    color: #333333;
    margin-top: 0;
    font-weight: 100;
    font-size: 2.5em;
}

.once-card .right .artist {
    color: #777777;
    display: inline-block;
    line-height: 10px;
    border-bottom: 1px dotted #777777;
}

.once-card .right .artist:hover {
    color: #666666;
    text-decoration: none;
    border-bottom: 1px solid #666666;

}