<div class="header bg-primary text-white">
    <div class="container">
        <div class="float-left">
            <img src="/_img/music-left.png" alt="">
        </div>
        <div class="float-right text-right">
            Всего альбомов: <?=$this->all_card ?>
            <br>
            Музыки больше <?=$this->all_duration ?> часов
            <br>
            Потрачего денег: <?=$this->all_price ?>

            <br>
            <br>
            <a href="javascript: void(0);" class="js-add-card btn btn-sm btn-outline-light">Добавить альбом</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="container">
    <?=$this->content ?>
</div>

