<?php if($this->title): ?>
<title><?=$this->title;?></title>
<?php endif; ?>

<?php if($this->cssFiles): ?>
<?php foreach($this->cssFiles as $item): ?>
    <link rel="stylesheet" href="<?=$item;?>"/>
<?php endforeach; ?>
<?php endif; ?>

<?php if($this->jsFiles): ?>
    <?php foreach($this->jsFiles as $item): ?>
        <script type="text/javascript" src="<?=$item;?>"></script>
    <?php endforeach; ?>
<?php endif; ?>

